.row
    .userList.col-sm-4
        .roomsContainer
            b ROOMS
            | &#x9;
            #rooms
                ul
                    li(ng-repeat='room in my.rooms' ng-click='my.switchRoom(room.nameChat)') {{room.nameChat}}
                    |     
                input#nameRoom(class='form-control' ng-model='my.nameRoom')
                |     
                input#addRoom(type='button', class='btn btn-chat btn-block', value='Create Room' ng-click='my.addRoom()')
                ul
                    b Chat
                    li(ng-repeat='room in my.roomsPrivate' ng-click='my.switchRoom(room.nameChat, room.aliasChat)') {{room.aliasChat}}
            |     
            #users
                b USERS
                ul 
                    li(ng-repeat='user in my.users' ng-click='my.addChat(user)'){{user}} 
            ul
                li(ng-repeat='msg in my.serverMessage'){{msg.data.username}} : {{msg.data.msg}}
            | 
    .col-sm-8            
        #conversation
            .conversationContainer
                #message
                    h2 {{my.currentRoom}}
                        span(ng-click='my.deleteChat()' ng-show='my.currentRoomReal' ng-class='my.deleteActive') delete
                    ul
                        li(ng-repeat='msg in my.chatMessage') {{msg.author}}: {{msg.message}}
                | &#x9;
                textarea#data(class='form-control' ng-model='my.data')
                | &#x9;
                input#datasend(type='button', class='btn btn-chat btn-block', value='send' ng-click='my.datasend()')
